/* Global */
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

nav ul{
  margin:0;
  padding:0;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .active a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../images/showcase.jpg') no-repeat 0 -600px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* content */
#main-content{
  margin-top:10px;
}

#main-content .sub-container{
  float:left;
  text-align: left;
  width:30%;
  padding:10px;
}

#main-content .sub-container img{
  width:90px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/*list*/
.specification-list{
  list-style-type: circle;
  list-style-position: outside;
  padding: 10;
  border-left: solid 2px red;
}

.step-list{
  list-style-type: decimal-leading-zero;
}

.error {
  color: #FF0000;
}

table {
  width:100%;
  overflow-x:auto;
  border-collapse: collapse;
  padding: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  height: 50px;
  background-color: #f13030;
  color: white;
}

tr {
  height: 40px;
}

tr:hover {
  background-color: #5c5b5b;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #53c557;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}